@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/*----- Переменные -----*/
body {
  background-color: #354856;
}

.title {
  color: #FFF;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 24px;
}

.wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.content_img {
  width: 500px;
  height: 300px;
  margin-bottom: 85px;
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
}

.content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
  transition: 0.5s;
  display: block;
}

.content_img img:hover {
  opacity: 0.8;
  transition: 0.5s;
  transform: scale(1.04);
}

.content_tabs {
  width: 500px;
  height: 300px;
  color: #FFF;
  border-radius: 15px;
  background: #354856;
  box-shadow: 0px 0px 10px 1px #F7F7F7;
}

.content_tabs2 {
  width: 500px;
  height: 300px;
  color: #FFF;
  border-radius: 15px;
  background: #354856;
  box-shadow: 0px 0px 10px 1px #F7F7F7;
}

.content_tabs_btn {
  display: flex;
}

.btn {
  width: 100%;
  height: 60px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #4E5F6B;
  color: white;
  transition: 0.5s;
}

.btn:hover {
  background-color: #425868;
  cursor: pointer;
  transition: 0.5s;
}

.btn.active {
  background-color: #354856;
  transition: 0.5s;
}

.btn:nth-child(1) {
  border-top-left-radius: 15px;
}

.btn:nth-child(3) {
  border-top-right-radius: 15px;
}

.btn2 {
  width: 100%;
  height: 60px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #4E5F6B;
  color: white;
  transition: 0.5s;
}

.btn2:hover {
  background-color: #425868;
  cursor: pointer;
  transition: 0.5s;
}

.btn2.active {
  background-color: #354856;
  transition: 0.5s;
}

.btn2:nth-child(1) {
  border-top-left-radius: 15px;
}

.btn2:nth-child(3) {
  border-top-right-radius: 15px;
}

article {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  margin-top: 10px;
}

.content {
  display: none;
}

.content2 {
  display: none;
}

.content.active {
  display: block;
}

.content2.active {
  display: block;
}